<ul>
  <% @people.each do |person| %>
    <li><%= link_to person.fname, person_path(person)  %> <%= link_to person.lname, person_path(person)  %>
    <% @emails.each do |email| %>
      <%= email.email_address%>
    <% end %>
    <% @phones.each do |phone| %>
      <%= phone.phone_number%>
    <% end %>
    <% @addresses.each do |address| %>
      <%= address.street%>
      <%= address.town%>
      <%= address.zip_code%>
      <%= address.street%>
    <% end %>
    </li>
  <% end %>
</ul>