<div class="navbar">
  <form>
      <div class="input-group" style="padding:10px;">
          <input type="text" class="form-control form-control-lg" placeholder="Search Here">
          <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i> Search</button>
      </div>
  </form>
  <div class="form-check-inline">
  <%=link_to "New Contact", root_url + 'people' + '/new', class: "btn btn-lg btn-primary form-check-inline"%>
  <%=link_to "Account", root_url, class: "btn btn-lg btn-primary form-check-inline" %>
  </div>
</div>
<body>
  <table class="table table-hover table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
    <% @people.each do |person| %>

      <tr>
        <td>
          <%= link_to person.fname, person_path(person)  %> <%= link_to person.lname, person_path(person)  %>
        </td>

        <td>
          <% person.addresses.each do |address|%>
          <%= address.street%>
          <%= address.town%>
          <%= address.zip_code%> 
          <br>
          <% end %>
        </td>
       
        <td>
          <% person.emails.each do |email|%>
          <%= email.email_address%>
          <br>
          <% end %>
        </td>

        <td>
          <% person.phones.each do |phone|%>
          <%= phone.phone_number%>
          <br>
          <% end %>
        </td>
      </tr>

      <% end %>

    </tbody>

  </table>
</body>