<h3>Create a Contact</h3>
<%= form_with model: @person do |form| %>
  <%= form.text_field :fname, placeholder: "First" %>
  <%= form.text_field :mname, placeholder: "Middle" %>
  <%= form.text_field :lname, placeholder: "Last" %>
  <%= form.text_field :ssn, placeholder: "SSN" %>
  <%= form.text_field :dob, placeholder: "Date of Birth" %>
  <%= form.text_field :comment, placeholder: "Comments" %>
  <%= form.submit %>
<% end %>

<!-- <%= form_for @person do |form| %>
  <%= form.text_field :fname, placeholder: "First" %>
  <%= form.text_field :mname, placeholder: "Middle" %>
  <%= form.text_field :lname, placeholder: "Last" %>
  <%= form.text_field :ssn, placeholder: "SSN" %>
  <%= form.text_field :dob, placeholder: "Date of Birth" %>
  <%= form.text_field :comment, placeholder: "Comments" %>
  <%= form.submit %>
<% end %> -->

