<h1><%= @person.fname %></h1>
<h1><%= @person.mname %></h1>
<h1><%= @person.lname %></h1>
<h4>DOB: <%= @person.dob %></h4>
<h4>SSN: <%= @person.ssn %></h4>
<h4>Comments: <%= @person.comment %></h4>
<h2>Address</h2>
<h4>Street: <%= @address.street %></h4>
<h4>Town: <%= @address.town %></h4>
<h4>Zip Code: <%= @address.zip_code %></h4>
<h4>State: <%= @address.state %></h4>
<h4>Country: <%= @address.country %></h4>
<h2>Email</h2>
<h4>Email: <%= @email.email_address%></h4>
<h4>Comments: <%= @email.comment %></h4>
<h2>Phone</h2>
<h4>Phone: <%= @phone.phone_number %></h4>
<h4>Comments: <%= @person.comment %></h4>
